$light-color:#f4f4f4;
$primary-color:#0e6cff;
$secondary-color:#ff8700;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$light-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.showcase{

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style-type:none;
        }
        li{
            padding: 0 10px;
        }
    }
}
.container{

}