@import"config";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:$light-color;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: #fff;
}
.showcase{

    background-color: $primary-color;
    color: #fff;
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            display: flex;
            list-style-type:none;
        }
        li{
            padding: 0 10px;
        }
        a:hover{
            border-bottom: 2px solid #fff;
        }
    }
}
.container{
 max-width: 1100px;
 margin: 0 auto;
}